<footer>
    <div id="siteInfo">
        <h3>Placeholder</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quisquam, sit, culpa nulla nam corporis labore fuga provident debitis quis sint voluptatum iure saepe quaerat, nemo dolores modi voluptates. Vitae.</p>
    </div>

    <div id="logo">
        <img src="./assets/Dark_Logo.png" />
    </div>
</footer>