<header>
    <div id="titleDiv">
        <h1> The Apple Tree </h1>
    </div>
        <nav>
            <a href="/" class="navLink">Home</a>
            <a href="/apples" class="navLink">Apple List</a>
            <a href="#"class="navLink">Contact Me</a>
        </nav>
    
</header>