<header>
    <div id="titleDiv">
        <h1> The Apple Tree </h1>
    </div>
        <nav>
            <p class="navLink">Home</p>
            <p class="navLink">Apple List</p>
            <p class="navLink">Contact Me</p>
        </nav>
    
</header>