<header>
    <div>
        <h1> The Apple Tree </h1>
    </div>
    <div>
        <nav>
            <ul>
                <li>Home</li>
                <li>Apple List</li>
                <li>Contact Me</li>
            </ul>
        </nav>
    </div>
    
</header>