<!DOCTYPE html>
<html>
    <%- include('partials/head') %>
    <body>
        <%- include('partials/header') %>
        <div>
            <h2>Apple List</h2>
            <div>
                <% if (appleArray.length === 0) { %>
                    <p>No apples found in database</p>
               <% } else { %>
                   <% appleArray.map((apple) => { %>
                        <div>
                            <% if (!apple.image_link) { %>
                                <img src="https://placehold.co/200x200" alt="placeholder image">
                            <% } else { %>
                                <img src= <%=`${apple.image_link}`%> >
                            <%}%>
                            <div>
                                <p><%= apple.name %> </p>
                            </div>
                        </div>
                   <% }) %>
              <% } %>
            </div>
        </div>
        

    </body>
</html>