<!DOCTYPE html> 
<html>
    <%- include('partials/head') %>
    <body>
        <%- include('partials/header') %>
        <main>
            <div id="content">
                <h2><%= title%> </h2>
                <p>Find more of my work and contact me below!</p>
                <ul>
                    <li><a href="https://github.com/TurnerHelical"><img src="/assets/github-mark.png"></a></li>
                    <li><a href="https://www.linkedin.com/in/hunter-leclair-51039b2bb/"><img src="/assets/LI-In-Bug.png"></a></li>
                    <li><a>Portfolio</a></li>
                </ul>
            </div>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>