main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
    gap: 50px;
}

a {
    cursor: pointer;
}

h2 {
    font-size: 32px;
}

#appleCtr {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 60%;
    justify-content: center;
}

.apple {
    padding: 10px;
    max-width: fit-content;
    background-color: aqua;
    text-align: center;
    border-radius: 20px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}



.appleInfo {
    padding: 10px 0px;
}

.appleName {
    font-size: 24px;
}

.lowStock {
    background-color: yellow;
    border-radius: 10px;
    padding: 0 10px;
    width: 125px;
}

.noStock {
    background-color: red;
    border-radius: 10px;
    padding: 0px 5px;
}