main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
    gap: 50px;
}

a {
    cursor: pointer;
}

h2 {
    font-size: 32px;
}

#appleCtr {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 60%;
    justify-content: center;
}

.apple {
    padding: 10px;
    max-width: fit-content;
    background-color: aqua;
    text-align: center;
    border-radius: 20px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.apple img {
    max-width: 200px;
    max-height: 200px;
}



.appleInfo {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    height: 100%;
}

.appleName {
    font-size: 24px;
}

main button {
    border: none;
    border-radius: 10px;
    padding: 20px 40px;
    background-color: blueviolet;
    font-size: 24px;
}