main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#appleCtr {
    margin-top: 15vh;
}

#appleImg {
    width: 20vw;

}

#appleInfo {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    text-align: center;
    margin:10px 0px 50px 0px ;
    border: .5px black solid;
}

#appleInfo p {
    border: .5px black solid;
    padding: 5px 10px;
}

h2 {
    text-align: center;
    font-size: 48px;
}

#price {
    grid-area: 3 / 1 / 4 / 3;
}