main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#appleCtr {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#appleNotes {
    width: 20vw;
    background-color: #ec994b;
    min-height: 400px;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    
}

#appleNotes h3 {
    font-size: 32px;
    width: 75%;
    background-color: aliceblue;
    text-align: center;
    border-bottom: 4px solid #EB6D42;
}

#noteCtr {
    flex: 1;
    display: flex;
    align-items: center;
}

#noteCtr p {
    font-size: 20px;
}

#appleImg {
    width: 20vw;
}


#appleInfo {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    min-width: 100%;
    text-align: center;
    margin:10px 0px 50px 0px ;
    border: .5px black solid;
}

#appleInfo p {
    border: .5px black solid;
    padding: 5px 10px;
}

h2 {
    text-align: center;
    font-size: 48px;
}

#price {
    grid-area: 3 / 1 / 4 / 3;
}

#buttonCtr {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

#buttonCtr a {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #64821A;
    border-radius: 10px;
    color: antiquewhite;
    box-shadow: 0 0 5px rgba(0, 0, 0, 100%);
}

#buttonCtr a:hover{
    cursor: pointer;
    box-shadow: none;
    background-color: white;
}