#titleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

#titleDiv h1 {
    text-align: center;
    height: fit-content;
}

nav {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 5px 0;
}

.navLink {
    height: fit-content;
    width: 100px;
    padding: 5px 5px;
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.navLink:hover {
    background-color: aliceblue;
    cursor: pointer;
}

a {
    all: unset;
}