#titleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-image: url('../assets/orchard.png');
    background-size: cover;
}

#titleDiv h1 {
    text-align: center;
    height: fit-content;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 40%);
    color: #E97035;
    font-size: 56px;
    transform: translate(-200px, 20px);
}

nav {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: #912324;
    padding: 20px 0;
}

.navLink {
    height: fit-content;
    width: 10%;
    padding: 5px 5px;
    background-color: #64821A;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: antiquewhite;
}

.navLink:hover {
    background-color: aliceblue;
    cursor: pointer;
}

a {
    all: unset;
}

footer {
    display: flex;
    background-color: #912324;
    padding: 50px;
    flex:1;
    justify-content: space-around;
    
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

#logo {
    width: 100%;
}

#logo img {
    max-height: 300px;
}

#siteInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    
}

#siteInfo p {
    max-width: 50%;
    text-align: center;
}

