#titleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

#titleDiv h1 {
    text-align: center;
    height: fit-content;
}

nav {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 5px 0;
}

.navLink {
    height: fit-content;
    width: 100px;
    padding: 5px 5px;
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.navLink:hover {
    background-color: aliceblue;
    cursor: pointer;
}

a {
    all: unset;
}

footer {
    display: flex;
    background-color: aqua;
    padding: 50px;
    flex:1;
    justify-content: space-around;
    
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

#logo {
    width: 100%;
}

#logo img {
    max-height: 300px;
}

#siteInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#siteInfo p {
    max-width: 50%;
    text-align: center;
}

