main {
    display: flex;
    justify-content: center;
    padding: 5% 0 5% 0;
}

form {
    display: grid;
    grid-template: repeat(auto-fill, minmax(1fr, 50px)) / 1fr;
    text-align: center;
    gap: 20px;
}

form h2{
    margin-bottom:20px;
    font-size: 38px;
}

input{
    text-align: center;
}

form div{
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
}

textarea {
    resize: none;
    text-align: center;
}