main {
    display: flex;
    justify-content: center;
    padding: 5% 0 5% 0;
}

form {
    display: grid;
    text-align: center;
    gap: 20px;
}

form h2{
    margin-bottom:20px;
    font-size: 38px;
}

input{
    text-align: center;
}

form div{
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
}

textarea {
    resize: none;
    text-align: center;
}

button {
    width: fit-content;
    justify-self: center;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: aqua;
    box-shadow: 0 0 5px rgba(0, 0, 0, 50%);
}

button:hover {
    box-shadow: none;
    background-color: cadetblue;
}